typings
app/**/*.js
app/**/*.map
node_modules
jspm_packages
bower_components
/GapDefier/nbproject/private/
/GapDefier/build/
/GapDefier/target/
/GapDefier/nbproject/
/GapApp/nbproject/
/GapApp/target/